// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#category-list li {
  float: left;
  height: 0.5em;
  margin: 0 0 .5em 0;
  padding: .5em 0;
  width: 50%;
}

#tag-cloud a {
  text-decoration: none;
  //text-shadow: none;
}